@import '../base';

@keyframes pulsate {
  0% { opacity: 0; }
  10% { opacity: 1; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

#caret {
  display: inline-block;
  vertical-align: middle;
  background: $phosphorus;
  box-shadow: $phosphorus $glow;
  width: 10px;
  height: 20px;

  -webkit-animation: pulsate 0.75s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0;
}
