@import './base';

body {
  @include colorize-text($phosphorus);
  font: normal 14px/20px monospace;
  font-family: "mplus-1m", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  letter-spacing: 0.05em;
  background: #000;
  margin: 0;
  padding: 2ch;
}

form {
  opacity: 0;
  position: absolute;
}

em {
  @include colorize-text(#fff);
  font-style: normal;

  &.err {
    @include colorize-text(#F00);
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  white-space: pre;

  // Prevent blank lines from collapsing
  li:after {
    content: '*';
    visibility: hidden;
  }
}
