!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title Welcome
    script(type="text/javascript", src="http://use.typekit.com/irj0jnz.js")
    script(type="text/javascript") try{Typekit.load();}catch(e){}
  body
    script(type="text/template", id="line-template")
      li.line <%= line_body %>
    
    #container
    
      #lines
        ul

      #cli
        span.timestamp
        span.user newUser
        span.host @music_to_code_to&nbsp;
        span.path
        span.bang &nbsp;$>&nbsp;
        span.input(id="cli-input")
        span.cursor &nbsp;
      
      #scanlines